<ng-container *ngIf='posts; else loading'>
    <agm-map [latitude]="lastPos.latitude"
             [longitude]="lastPos.longitude">
        <ng-container *ngFor="let post of posts">
            <agm-marker [latitude]="post.location.position.latitude"
                        [longitude]="post.location.position.longitude">
                <agm-info-window>
                    <app-blog-post [post]='post'></app-blog-post>
                </agm-info-window>
            </agm-marker>
        </ng-container>
    </agm-map>
</ng-container>
<ng-template #loading>
    <h3>
        Loading...
    </h3>
</ng-template>